body{
  font-family: Arial;
  
}
.todo-input,
.date-input
{
 padding:8px;
 font-size: 15px;
}
.add
{
  background-color: green;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  Font-size:16px;
  border:none;
  cursor:pointer;
}
.js-tasks,
.input-div
{
  margin-top:8px;
  display:grid;
  grid-template-columns: 200px 150px 100px;
  column-gap:8px;
  row-gap:8px;
  align-items: center;
}
.js-delete
{
  background-color: darkred;
  color:white;
  padding-top:10px;
  padding-bottom:10px;
  Font-size:16px;
  border:none;
  cursor:pointer;
}